.so-widget-sow-headline-default-32439d013dff-452 .sow-headline-container h3.sow-headline {
  
  text-align: left;
  color: #142844;
  line-height: 1.4em;
  
  
  
}
@media (max-width: 780px) {
  .so-widget-sow-headline-default-32439d013dff-452 .sow-headline-container h3.sow-headline {
    text-align: left;
  }
}
.so-widget-sow-headline-default-32439d013dff-452 .sow-headline-container h3.sow-headline a {
  color: #142844;
}
.so-widget-sow-headline-default-32439d013dff-452 .sow-headline-container h3.sow-sub-headline {
  
  text-align: center;
  
  line-height: 1.4em;
  
  
  
}
@media (max-width: 780px) {
  .so-widget-sow-headline-default-32439d013dff-452 .sow-headline-container h3.sow-sub-headline {
    text-align: center;
  }
}
.so-widget-sow-headline-default-32439d013dff-452 .sow-headline-container .decoration {
  line-height: 0em;
  text-align: left;
  margin-top: 20px;
  margin-bottom: 20px;
}
@media (max-width: 780px) {
  .so-widget-sow-headline-default-32439d013dff-452 .sow-headline-container .decoration {
    text-align: left;
  }
}
.so-widget-sow-headline-default-32439d013dff-452 .sow-headline-container .decoration .decoration-inside {
  height: 1px;
  display: inline-block;
  border-top: 2px solid #00aeef;
  width: 100%;
  max-width: 20%;
}
.so-widget-sow-headline-default-32439d013dff-452 .sow-headline-container *:first-child {
  margin-top: 0 !important;
}
.so-widget-sow-headline-default-32439d013dff-452 .sow-headline-container *:last-child {
  margin-bottom: 0 !important;
}